<div class="d-flex">
  <div class="p-2 bd-highlight">
    <div class="calendarComponent">
      <h1>
        <small>Rezervační kalendář Mája Oslavany</small>
      </h1>
      <div *ngIf="calendarOptions">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (navLinkWeekClick)="clickButton($event.detail)" (clickButton)="clickButton()"
          (navLinkDayClick)="clickButton($event.detail)" (dayClick)="dayClicked($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Rezervace Veterina Mája Oslavany</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="inputIdentification" class="col-sm-2 col-form-label">Jméno</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="userEvent.Identification" name="identification" id="inputIdentification"
            placeholder="Uveďte vaše jméno">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" [(ngModel)]="userEvent.Email" name="email" id="inputEmail" placeholder="Uveďte platný e-mailový kontakt">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Telefon</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" [(ngModel)]="userEvent.Phone" name="email" id="inputPhone" placeholder="Uveďte platný telefonní kontakt">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputReason" class="col-sm-2 col-form-label">Důvod návštěvy</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control" [(ngModel)]="userEvent.Reason" name="reason" id="inputReason" placeholder="Uveďte stručně důvod návštěvy"> -->

          <select [(ngModel)]="userEvent.Reason" class="form-control" name="seltype">
            <option *ngFor="let reason of Reasons" [ngValue]="reason">{{reason.name}}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Datum</label>
      <div class="col-sm-10">
        <!-- <input type="text" class="form-control" value="{{choosedDate}}" id="inputDate" readonly="readonly"> -->
        <!-- <ngb-datepicker [(ngModel)]="choosedDate" [disabled]="dateDisabled"></ngb-datepicker> -->
        <div class="input-group">
          <input class="form-control" placeholder="dd.mm. yyyy" name="dp" [(ngModel)]="userEvent.ChoosedDate" name="choosedDate" ngbDatepicker
            #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Čas</label>
      <div class="col-sm-10">
        <!-- <input type="time" class="form-control" id="inputTime" placeholder="Vyberte čas objednání"> -->
        <ngb-timepicker [(ngModel)]="userEvent.ChoosedTime" name="choosedTime"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" #buttonClose class="btn btn-light" (click)="c('Close click')">Zrušit</button>
    <button type="button" class="btn btn-secondary" (click)="eventConfim(c)">Potvrdit</button>
    <!-- <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Close</button> -->
  </div>
</ng-template>